.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__cGaZp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-XolqRL3-7_dT);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__cGaZp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cGaZp > :global(.__wab_flex-container) > *,
.freeBox__cGaZp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cGaZp > :global(.__wab_flex-container) > picture > img,
.freeBox__cGaZp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__cGaZp {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__cGaZp > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__cGaZp > :global(.__wab_flex-container) > *,
  .freeBox__cGaZp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cGaZp > :global(.__wab_flex-container) > picture > img,
  .freeBox__cGaZp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__rdRf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__rdRf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rdRf > :global(.__wab_flex-container) > *,
.freeBox__rdRf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rdRf > :global(.__wab_flex-container) > picture > img,
.freeBox__rdRf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__rdRf {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button___3Qp68:global(.__wab_instance) {
  position: relative;
}
.svg__qOhhL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__eNz5S {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__doWGk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bBcnu:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__bBcnu:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__egc0S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__eZgug {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__xk17Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wls3Z:global(.__wab_instance) {
  position: relative;
}
.svg__hz999 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xuYzO {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__dmMg3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zy6A {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zy6A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox__zy6A {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__zy6A > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__zy6A > :global(.__wab_flex-container) > *,
  .freeBox__zy6A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zy6A > :global(.__wab_flex-container) > picture > img,
  .freeBox__zy6A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button___0Otcz:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___0Otcz:global(.__wab_instance) {
    display: none;
  }
}
.svg__vGgS1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kcHe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__foAuk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6VqSd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sJnux {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
